.paintingandName{
    max-width:500px;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:160px;
    margin-left:150px;
}

#blackSquare{
    width:100%;
}

#name{
    padding-top:30px;
    font-style: italic;
}

