body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
  background-image: url("../image/Background.png");
  background-color: black;
}

.whiteBackground{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
  background-image: url("../image/Background.png");
  background-color:white;
}
  
p{ 
  margin-top:0;
  margin-bottom:0;
  font-family: 'Inria Serif';
  font-weight: 400;
}

#nextButton:hover{
  transform: scale(1.05);
}

#backButton{
  width:50px;
  position:absolute;
  margin-top:50px;
  margin-left:70px;
  cursor: pointer;
  z-index: 10000;
}

#backButton:hover{
  transform: scale(1.1);
}

#homeButton{
  width:50px;
  position:absolute;
  margin-top:54px;
  margin-left:180px;
  cursor: pointer;
  z-index: 10000;
}

#homeButton:hover{
  transform: scale(1.1);
}



@media only screen and (min-width: 1197px){
  .title{
    font-weight:bold;
    font-size:84px;
    margin-bottom:30px;
  }
  #nextButton{
    position:absolute;
    width:120px;
    margin-top:520px;
    margin-right:4px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1196px){
  .title{
    font-weight:bold;
    font-size:64px;
    margin-bottom:24px;
  }
  #nextButton{
    position:absolute;
    width:120px;
    margin-top:420px;
    margin-right:4px;
    cursor: pointer;
  }
}
